venv/
.env/
ENV/

# Кэш-файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы конфигурации IDE
.vscode/          
.idea/            

# ========================= #
#     Selenium & WebDriver  #
# ========================= #
# Драйверы НЕ должны быть в гите.
# Они скачиваются автоматически через webdriver-manager во временную папку,
# либо лежат в /drivers локально под конкретную ОС.
drivers/
chromedriver.exe
geckodriver.exe
*.exe

# Логи выполнения
*.log

# ========================= #
#      Системные файлы      #
# ========================= #
.DS_Store         # Скрытые файлы macOS
Thumbs.db         # Скрытые файлы Windows